
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



/*

NAV 

*/


 .nav__row{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.nav__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav__title {
    color: white;
}

.nav__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav__container, .nav__links {
    display: flex;
    justify-content: flex-end;
}

.nav__links{
    display: flex;
    justify-content: space-between;
}

.nav__link {
    display: flex;
    align-items: center;
    margin: 4px;
    padding: 4px;
    color: white;
}

.nav__link--btn {
    border-radius:20px;
    color: black;
    border: 2px solid black;
    padding: 4px 8px;
}

.nav__back-ground {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}




